# exclude logs folder and other process files
logs/*
scripts/__pycache__
.snakemake

# exclude project folder
../Project/* # this would be outside the repo anyway?
../* # same here
# except
../workflow/*
../config/*
